/* @import "../node_modules/reset-css/sass/reset"; */
/* Custom CSS and variables to override Bootstrap goes to variables */
@import "./scss/variables";

/* IF WATCH SASS IS RUN THEN WEBPACK WILL HAVE ISSUES */
/* @import "../node_modules/bulma/css/bulma.min.css"; */
@import "~bulma/bulma";

/* Importing ends here */

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
}
#weather-card {
  display: none;
}
